In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Input_Data/opendatabcn_educacio_ensenyament_no-reglat_rep.csv', encoding='utf-8-sig')

In [3]:
df.columns

Index(['register_id', 'name', 'institution_id', 'institution_name', 'created',
       'modified', 'addresses_roadtype_id', 'addresses_roadtype_name',
       'addresses_road_id', 'addresses_road_name',
       'addresses_start_street_number', 'addresses_end_street_number',
       'addresses_neighborhood_id', 'addresses_neighborhood_name',
       'addresses_district_id', 'addresses_district_name',
       'addresses_zip_code', 'addresses_town', 'addresses_main_address',
       'addresses_type', 'values_id', 'values_attribute_id', 'values_category',
       'values_attribute_name', 'values_value', 'values_outstanding',
       'values_description', 'secondary_filters_id', 'secondary_filters_name',
       'secondary_filters_fullpath', 'secondary_filters_tree',
       'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y',
       'geo_epgs_4326_x', 'geo_epgs_4326_y', 'estimated_dates', 'start_date',
       'end_date'],
      dtype='object')

In [4]:
df.isna().sum() / df.shape[0]

register_id                      0.000000
name                             0.000000
institution_id                   0.936441
institution_name                 0.936441
created                          0.000000
modified                         0.000000
addresses_roadtype_id            1.000000
addresses_roadtype_name          1.000000
addresses_road_id                0.000000
addresses_road_name              0.000000
addresses_start_street_number    0.000000
addresses_end_street_number      0.906780
addresses_neighborhood_id        0.000000
addresses_neighborhood_name      0.000000
addresses_district_id            0.000000
addresses_district_name          0.000000
addresses_zip_code               0.000000
addresses_town                   0.000000
addresses_main_address           0.000000
addresses_type                   1.000000
values_id                        0.012712
values_attribute_id              0.012712
values_category                  0.012712
values_attribute_name            0.012712
values_value                     0.012712
values_outstanding               0.012712
values_description               0.970339
secondary_filters_id             0.000000
secondary_filters_name           0.000000
secondary_filters_fullpath       0.000000
secondary_filters_tree           0.000000
secondary_filters_asia_id        0.000000
geo_epgs_25831_x                 0.000000
geo_epgs_25831_y                 0.000000
geo_epgs_4326_x                  0.000000
geo_epgs_4326_y                  0.000000
estimated_dates                  1.000000
start_date                       1.000000
end_date                         1.000000
dtype: float64

In [5]:
df.head()

,register_id,name,institution_id,institution_name,created,modified,addresses_roadtype_id,addresses_roadtype_name,addresses_road_id,addresses_road_name,...,secondary_filters_fullpath,secondary_filters_tree,secondary_filters_asia_id,geo_epgs_25831_x,geo_epgs_25831_y,geo_epgs_4326_x,geo_epgs_4326_y,estimated_dates,start_date,end_date
0,﻿99400632223,La Troca. Escola Comunitària de Formació Perma...,NaN,NaN,2019-07-16T11:41:10+02:00,2021-04-08T10:30:49.777986+02:00,NaN,NaN,235208,C Olzinelles,...,Planol BCN >> Educació >> Ensenyament no regla...,651,65103003002001,427805.406037,4.580515e+06,41.372918,2.136698,NaN,NaN,NaN
1,﻿99400632223,La Troca. Escola Comunitària de Formació Perma...,NaN,NaN,2019-07-16T11:41:10+02:00,2021-04-08T10:30:49.777986+02:00,NaN,NaN,235208,C Olzinelles,...,Planol BCN >> Educació >> Ensenyament no regla...,651,65103003002002,427805.406037,4.580515e+06,41.372918,2.136698,NaN,NaN,NaN
2,﻿92086028677,Centre de Formació de Persones Adultes El Clot,NaN,NaN,1988-11-11T00:00:00+01:00,2023-11-06T13:01:52.983222+01:00,NaN,NaN,42306,C Bilbao,...,Planol BCN >> Educació >> Ensenyament no regla...,651,65103003002000,432527.994252,4.584791e+06,41.411838,2.192689,NaN,NaN,NaN
3,﻿99400090280,Meca-Ràpid *Via Augusta,NaN,NaN,2004-06-14T12:19:15+02:00,2022-09-17T06:18:06.313464+02:00,NaN,NaN,28000,Via Augusta,...,Planol BCN >> Educació >> Ensenyament no regla...,651,65103003002002,428419.471442,4.583445e+06,41.399363,2.143694,NaN,NaN,NaN
4,﻿92086009415,The British Council-Institut Britànic,NaN,NaN,1984-12-21T00:00:00+01:00,2021-11-08T12:57:02.319739+01:00,NaN,NaN,13909,Carrer d'Amigó,...,Planol BCN >> Educació >> Ensenyament no regla...,651,65103003002001,428234.946278,4.583240e+06,41.397498,2.141511,NaN,NaN,NaN

In [6]:
#Seleccionamos variables de interes

In [7]:
df['tipo_centro']='no_reglat'

In [8]:
df.columns

Index(['register_id', 'name', 'institution_id', 'institution_name', 'created',
       'modified', 'addresses_roadtype_id', 'addresses_roadtype_name',
       'addresses_road_id', 'addresses_road_name',
       'addresses_start_street_number', 'addresses_end_street_number',
       'addresses_neighborhood_id', 'addresses_neighborhood_name',
       'addresses_district_id', 'addresses_district_name',
       'addresses_zip_code', 'addresses_town', 'addresses_main_address',
       'addresses_type', 'values_id', 'values_attribute_id', 'values_category',
       'values_attribute_name', 'values_value', 'values_outstanding',
       'values_description', 'secondary_filters_id', 'secondary_filters_name',
       'secondary_filters_fullpath', 'secondary_filters_tree',
       'secondary_filters_asia_id', 'geo_epgs_25831_x', 'geo_epgs_25831_y',
       'geo_epgs_4326_x', 'geo_epgs_4326_y', 'estimated_dates', 'start_date',
       'end_date', 'tipo_centro'],
      dtype='object')

In [9]:
centros = df [['name', 'addresses_road_name',
       'addresses_start_street_number',
       'addresses_neighborhood_id', 'addresses_neighborhood_name','addresses_district_id', 'addresses_district_name',
       'addresses_zip_code', 'values_value', 'secondary_filters_name',
       'geo_epgs_4326_x', 'geo_epgs_4326_y','tipo_centro']]

In [10]:
centros=centros.rename(columns={'values_value':'phone_number','geo_epgs_4326_x':'longitude','geo_epgs_4326_y':'latitude'})

In [11]:
centros.to_csv('Input_Data\centros_no_reglados_filtrados.csv', index= False)